django
djangorestframework


# DOCUMENTATION
# #############################################################################

sphinx
myst_parser
furo


# TESTING
# #############################################################################

coverage
tox


# CODE STYLE
# #############################################################################

flake8


# BUILDING AND PUBLISHING
# #############################################################################

build
pip-tools
bumpversion
twine
