{% extends "admin/base_site.html" %}
{% load i18n admin_urls static %}

{% block extrahead %}
{{ block.super }}
<link rel="stylesheet" href="{% static 'django_object_lock/css/admin.css' %}" />
{% endblock %}

{% block breadcrumbs %}
<div class="breadcrumbs">
<a href="{% url 'admin:index' %}">{% translate 'Home' %}</a>
&rsaquo; <a href="{% url 'admin:app_list' app_label=opts.app_label %}">{{ opts.app_config.verbose_name }}</a>
&rsaquo; <a href="{% url opts|admin_urlname:'changelist' %}">{{ opts.verbose_name_plural|capfirst }}</a>
&rsaquo; {% translate "Lock objects" %}
</div>
{% endblock %}

{% block content %}
{% if objects %}
<div id="lock-confirmation">

  <h1>{% trans "Are you sure?" %}</h1>
  <p>The following objects will be locked. Locked objects may not be edited until unlocked.</p>

  <h2>{% translate "Summary" %}</h2>
  <ul>
    <li>{{ opts.verbose_name_plural|capfirst }}: {{ count }}</li>
  </ul>

  <h2>{% translate "Objects" %}</h2>
  <ul>
    {% for object in objects %}
    <li><a href="{% url opts|admin_urlname:'change' object_id=object.pk %}">
      {{ object }}
    </a></li>
    {% endfor %}
  </ul>

  <form method="post">
    {% csrf_token %}
    <div>
      <input type="hidden" name="ids" value="{{ ids }}" />
      {% if is_popup %}<input type="hidden" name="{{ is_popup_var }}" value="1" />{% endif %}
      {% if to_field %}<input type="hidden" name="{{ to_field_var }}" value="{{ to_field }}" />{% endif %}
      <input type="submit" value="{% translate "Yes, I'm sure" %}" />
      <a href="{% url opts|admin_urlname:'changelist' %}" class="button cancel-link">
        {% translate "No, take me back" %}
      </a>
    </div>
  </form>

</div>
{% else %}
<p>No objects have been selected for locking.</p>
{% endif %}
{% endblock %}
